<!DOCTYPE html>
<html>
  <head>
    <title>Google Auth Example App</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= react_component("App", {current_user: current_user ? {email: current_user.email} : nil}) %>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
